<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @administrator.first_name %> et bienvenue chez nous !</h1>
    <p>
      <%= @user.first_name %> c'est inscrit à ton événements : <%= @user.email %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>